.note-danger {
   background-color: #fef7f8;
   border-left: 5px solid #f0868e;
}
.note-success {
   background-color: #c0edf1;
   border-left: 5px solid #58d0da;
}
.note {
   padding: 15px 15px 15px 15px;
   color: #000;
   text-transform: uppercase;
   display: none;
}
.note2 {
   padding: 15px 15px 15px 15px;
   color: #000;
   text-transform: uppercase;
}